<h2>Template Form:
  <strong>
    Básicos
  </strong>
</h2>
<hr>

<div class="row">
  <div class="col">

    <form (ngSubmit)="guardar()" 
          #myForm="ngForm"
          autocomplete="off">

      <!-- Campo de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input type="text"
                 required
                 [ngModel]="initForm.producto"
                 minlength="3"
                 name="producto"
                 class="form-control"
                 placeholder="Nombre del producto">
          <span class="form-text text-danger" 
                *ngIf="nombreValido()">
                Debe tener al menos 3 caracteres
          </span>
        </div>
      </div>

      <!-- Campo de precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input type="number"
                 required
                 min="0"
                 [ngModel]="initForm.precio"
                 name="precio"
                 class="form-control"
                 placeholder="Precio del producto">
          <span class="form-text text-danger" 
                *ngIf="precioValido()">
                Precio no válido
           </span>
        </div>
      </div>

      <!-- Existencias de producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Existencias</label>
        <div class="col-sm-9">
          <input type="number"
                 [ngModel]="initForm.existencias"
                 required
                 customMin
                 [minimo]="0"
                 name="existencias"
                 class="form-control"
                 placeholder="Existencias del producto">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button type="submit"
                  [disabled]="myForm.invalid"
                  class="btn btn-primary float-end">
            Guardar
          </button>
        </div>
      </div>

    </form>
  
  </div>
</div>


<div class="row">
  <div class="col">

    <span>Valid: </span>
    <pre>{{ myForm.valid }}</pre>

    <span>Pristine: </span>
    <pre>{{ myForm.pristine }}</pre>

    <span>Touched: </span>
    <pre>{{ myForm.touched }}</pre>

    <span>Value:</span>
    <pre>{{ myForm.value | json }}</pre>

    <span>Custom Directive Errors:</span>
    <pre>{{ myForm.controls['existencias']?.errors | json }}</pre>

  </div>
</div>