
<h1>404</h1>
<h3>Resource Not Found</h3>

<hr>
<ul>
  <li>
    <a routerLink="/auth/login">Go to login page</a>
  </li>
  <li>
    <a routerLink="/auth/register">Go to register page</a>
  </li>
  <li>
    <a routerLink="/heroes/buscar">Go to buscar page</a>
  </li>
  <li>
    <a routerLink="/heroes/agregar">Go to agregar page</a>
  </li>
  <li>
    <a routerLink="/heroes/listado">Go to listado page</a>
  </li>
  <li>
    <a routerLink="/heroes/home">Go to home page</a>
  </li>
  <li>
    <a routerLink="/heroes/caraculo">Go to Caraculo hero page</a>
  </li>

</ul>
